.container {
    display: grid;
    grid-column: auto auto auto auto auto auto auto;
    grid-auto-rows: 31px;
    height: 500px;
    /* column-gap: 10px; */
    align-items: center;
    text-align:right;
    font-family: "微软雅黑 Light";
}

.name {
    grid-column: 1;
}

.progressbar {
    grid-column: 2;
}

.percent {
    grid-column: 3;
}

.remain {
    grid-column: 4;
}

.distance {
    grid-column: 5;
}

.tendency {
    grid-column: 6;
    width: 70px;
}

.recommend {
    grid-column: 7;
}

.name,.progressbar,.percent,.remain,.distance,.recommend,.tendency {
    font-weight: bold;
    padding:2px 4px;
    background-color:whitesmoke;
}