.container {
    display: grid;
    display: -ms-grid;
    grid-column: auto auto auto auto auto auto auto;
    -ms-grid-columns: auto auto auto auto auto auto auto;
    grid-auto-rows: 31px;
    height: 500px;
    /* column-gap: 10px; */
    align-items: center;
    text-align:right;
    font-family: "微软雅黑 Light";
}

.name,.N {
    grid-column: 1;
    -ms-grid-column: 1;
}

.progressbar {
    grid-column: 2;
    -ms-grid-column: 2;
}

.progressbar {
    grid-row: 1;
    -ms-grid-row: 1;
}

.percent,.Q {
    grid-column: 3;
    -ms-grid-column: 3;
}

.remain,.R {
    grid-column: 4;
    -ms-grid-column: 4;
}

.distance,.D {
    grid-column: 5;
    -ms-grid-column: 5;
}

.tendency,.T {
    grid-column: 6;
    -ms-grid-column: 6;
    width: 70px;
}

.recommend,.F {
    grid-column: 7;
    -ms-grid-column: 7;
}

.name,.progressbar,.percent,.remain,.distance,.recommend,.tendency {
    font-weight: bold;
    padding:2px 4px;
    background-color:whitesmoke;
}

#N000,#C000,#Q000,#R000,#D000,#T000,#F000,#O000 {
    grid-row: 10;
    -ms-grid-row: 10;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #O000,#O100,#O200,#O300,#O400,#O500,#O600,#O700,#O800,#O900{
        grid-column: 2;
        -ms-grid-column: 2;
    }
}